
  <mat-toolbar color="white">
  <button mat-button (click)="sidenav.open ()" ><mat-icon>menu</mat-icon></button>
  <span>News Headlines</span>
  <span class="example-spacer"></span>
  <button mat-button >Sign In</button>
</mat-toolbar>
<br/>

<h1 align="center"> X Articles Found </h1>


<div class="container"
     fxLayout="column "
     fxLayoutGap="10px">

<mat-card color= "white">
  <mat-checkbox class="gap"> All</mat-checkbox>
  <mat-checkbox class="gap"> CNN </mat-checkbox>
  <mat-checkbox class="gap">BBC News</mat-checkbox>
  <mat-checkbox class="gap">TechCrunch</mat-checkbox>
  <mat-checkbox class="gap">CBS News</mat-checkbox>  </mat-card>
<br/>

<div fxLayout="row">
  <div >
      <input type="search" placeholder="search news">
      <button mat-flat-button class="gap" color="primary">search </button>
  </div>
  <span class="example-spacer"></span>
   <div>
     SORT BY:
      <mat-form-field>
          <select matNativeControl required>
              <option value="pop">Popularity</option>
              <option value="dat">Date</option>
         </select>
     </mat-form-field>
  </div>
</div>


<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
        <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.id);sidenav.close();">

          <span class="source-name"> {{source.name}}</span>

        </mat-list-item>
    </mat-list>
  </mat-sidenav>


  <mat-card class="example-card"  *ngFor="let article of mArticles">
    <div class="flex-container">
    <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
    <div fxLayout="column">
    <mat-card-header >
      <mat-card-title class="title">{{article.title}}</mat-card-title>
      <mat-card-subtitle>-{{article.source.name}}</mat-card-subtitle>
    </mat-card-header>
<mat-card-content>
      <p>
        {{article.description}}
      </p>
</mat-card-content>
</div>
  </div>
    <mat-card-actions class="action-buttons">
      <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon> More</a>
    </mat-card-actions>
  </mat-card>
</mat-sidenav-container>
</div>
